<div id="loan">
    {% if customer.rank == "basic" %}
    <p>You cant make a loan</p>

    {% else %}

    <p>Take loan money</p>
    <form>
        {% csrf_token %}
            <input type="number" name="amount" placeholder="Amount" />
            <button
            hx-post="{% url 'account_management_app:loan' account_number=account_number %}"
            hx-trigger="click"
            hx-target="#account_{{account_number}}"
            hx-swap="outerHTML">
                Take loan
            </button>
    </form>
    <hr>

    <p>Amount you have to return: {{amount_owed}}</p>
    <form>
        {% csrf_token %}
            <input type="number" name="amount" placeholder="Amount" />
            <button
            hx-post="{% url 'account_management_app:pay_back_loan' account_number=account_number %}"
            hx-trigger="click"
            hx-target="#account_{{account_number}}"
            hx-swap="outerHTML">
                Pay back
            </button>
    </form>
    <hr>

    {% endif %}

    <h3>Your loan history </h3>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        {% for transaction in loan_transactions %}
        <tbody>
            <tr>
                <td>{{transaction.created_timestamp}}</td>
                <td>{{transaction.amount}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>


</div>




