{% extends "employee_app/base.html" %}
{% block content %}

<h2>Customer detail</h2>

<div class="customer-info">
    <h2>Customer info</h2>
    <p>Username: {{customer.user.username}}</p>
    <p>First name: {{customer.user.first_name}}</p>
    <p>Last name: {{customer.user.last_name}}</p>
    <p>Email: {{customer.user.email}}</p>
</div>

<div class="accounts">
    <h2>Accounts</h2>
    {% for account in accounts %}
        <a href="{% url 'employee_app:account_detail' account_number=account.account_number  %}">
            {{account.account_number}}
        </a> 

    {% endfor %}
    <p></p>
</div>
{% endblock %}