{% extends "account_management_app/base.html" %}
{% block content %}
{% load static %}

<h3>Welcome to Chatbot</h3>

<div class="chat-wrapper">
    <div class="chat-header">
        <img id="icon-chatbot" src="{% static 'images/chatbot.png' %}" alt="profile">
        <p>Chatbot</p>
        <img id="icon" src="{% static 'images/dot.png' %}" alt="profile">
    </div>

    <div class="conversation-wrapper">
        <div class="question">
            {{message}}
        </div>
        <div class="response">
            {{response}}

        </div>
    </div>

    <form id="chatbot_form" action="/message/" method="post">
        {% csrf_token %}
        
        <div class="input-wrapper">
            <input type="text" name="message" required>
            <button type="submit">Send</button>
        </div>
    </form>
</div>



{% endblock %}