{% extends "account_management_app/base.html" %}
{% block content %}

<div>
    <h1 class="heading">Welcome</h1>

    <div class="payment-list">
        <h2>Payment list</h2>
        {% for account in accounts %}

        <ul>
            <li>{{account.account_number}}</li>
        </ul>

        {% endfor %}
        <hr>
    </div>

    <div class="balance">
        <h2>Balance</h2>
        {{test_account.balance}}
        <hr>
    </div>

    <div class="sending-money">
        <h2>Sending money</h2>
        <form action="{% url 'account_management_app:transfer' %}" method="POST">
            {% csrf_token %}
            <input name="my_account_number" type="text" placeholder="My Account number">
            <input name="amount" type="number" placeholder="Amount you want to transfer">
            <input name="account_number" type="text" placeholder="Account number">
            <button>
                Submit
            </button>
        </form>
    </div>

    {% if error %}
        {{ error }}
    {% endif %}

</div>


{% endblock %}