
{% if customer.rank == "basic" %}

<div>
    You cant make a loan
</div>

{% else %}

<div id="loan">
    <form>
        {% csrf_token %}
            <input type="number" name="amount" placeholder="Amount" />
            <button
            hx-post="{% url 'account_management_app:loan' account_number %}"
            hx-trigger="click"
            hx-target="#account_{{account_number}}"
            hx-swap="outerHTML">
                Get loan
            </button>
    </form>

    <hr>
</div>

{% endif %}

