<div id="loan">
    {% if customer.rank == "basic" %}
    <p>You cant make a loan</p>

    {% else %}

    <p>Take loan money</p>
    <form>
        {% csrf_token %}
            <input type="number" name="amount" placeholder="Amount" />
            <button
            hx-post="{% url 'account_management_app:loan' account_number=account_number customer_id=customer.id %}"
            hx-trigger="click"
            hx-target="#account_{{account_number}}"
            hx-swap="outerHTML">
                Take loan
            </button>
    </form>
    {% endif %}

    <hr>
</div>




